# Data Science Tools and Ecosystem

## Author
Aadi

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
* List popular languages for Data Science
* List useful open source tools for Data Science
* Basic Python Arithmetic

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. Scala

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. Matplotlib
3. SciPy

|Data Science Tools|
|:--------:|
|Apache Zeppelin|
|Jupyter|
|RStudio|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60
(200/60)

3.3333333333333335